{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    {% include 'partials/_form.html.twig' %}
    <h1>Tableau </h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Nombre de conducteurs</th>
            <th>Nombre de véhicules</th>
            <th>Nombre de véhicules non loués</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>

        </tbody>
    </table>

    </table>
    </div>


{% endblock %}
